@page "/dashboard"
@page "/dashboard/{Months:int}/{UserId:int}"


@using RPS.Core.Models
@using RPS.Web.Components.Dashboard
@inject NavigationManager NavigationManager


<link rel="stylesheet" href="css/dashboard.css" />

<div class="container">
    <div class="row justify-content-between align-items-center mb-4">
        <div class="col">
            <h1 class="text-center text-md-left">Dashboard</h1>
        </div>
        <div class="col-auto">
            <TelerikComboBox Data="@Assignees" TextField="FullName" ValueField="Id" @bind-Value="SelectedAssigneeId"
                             Placeholder="Select assignee.." ClearButton="true" Filterable="true" FilterOperator="StringFilterOperator.Contains" Width="260px">
                <ItemTemplate>
                    @{
                        var item = context as PtUser;

                        <div class="d-flex align-items-center">
                            <img src="@item.Avatar" class="li-avatar rounded mx-auto" />
                            <span class="ms-2">@item.FullName</span>
                        </div>
                    }

                </ItemTemplate>
            </TelerikComboBox>
        
            <TelerikButtonGroup SelectionMode="Telerik.Blazor.ButtonGroupSelectionMode.Single">
                <ButtonGroupToggleButton Icon="SvgIcon.Calendar" OnClick="@(_ => DateRangeFilter(3))">3 Months</ButtonGroupToggleButton>
                <ButtonGroupToggleButton Icon="SvgIcon.Calendar" OnClick="@(_ => DateRangeFilter(6))">6 Months</ButtonGroupToggleButton>
                <ButtonGroupToggleButton Icon="SvgIcon.Calendar" OnClick="@(_ => DateRangeFilter(12))">1 Year</ButtonGroupToggleButton>
            </TelerikButtonGroup>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="border bg-light p-3 mb-3">
                <div class="row">
                    <div class="col text-center">
                        <div class="display-4">@IssueCountActive</div>
                        <div>Active Issues</div>
                    </div>
                    <div class="col text-center">
                        <div class="display-4 text-success">@IssueCountClosed</div>
                        <div>Closed Issues</div>
                    </div>
                    <div class="col text-center">
                        <div class="display-4 text-primary">@IssueCountOpen</div>
                        <div>Open Issues</div>
                    </div>
                    <div class="col text-center">
                        <div class="display-4">@IssueCloseRate</div>
                        <div>Close Rate</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="border bg-light p-3 mb-3">
                <div class="row">
                    <div class="col">
                        <h5>All Issues</h5>
                        <p>Active Issues</p>
                    </div>
                    <div class="col text-end">
                        <p>Highest: 100% on Oct 11, 2018</p>
                        <p>Lowest: 20% on Oct 9, 2018</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <IssueChart Filter="Filter" @ref="IssueChartRef" />
        </div>
    </div>
</div>

@code {

}



@code {

    public IssueChart IssueChartRef { get; set; }

    private void DateRangeFilter(int months)
    {
        Months = months;
        UserId = UserId.HasValue ? UserId.Value : 0;
        NavigationManager.NavigateTo($"/dashboard/{Months}/{UserId}");
        Refresh();
    }

    void ItemResize()
    {
        IssueChartRef.RefreshTelerikChart();
    }
}
